html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main {

    font-family: 'Inter';
    max-width: 1200px;
    margin: 0 auto;

}

.menu {
    width: 100%;
    background: white;
    box-shadow: 0px 6px 50px -10px rgb(0 0 0 / 10%);
}

.menu-flex {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: black;


}

.menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

.menu-column.menu-second-column {
    
    justify-content: flex-end;
    height: 79px;
    margin-right: 10px;
}

.menu-nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: 50px;
    /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
}

.menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
}

.menu-link-button {
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: white;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1px;
}

.produtos {
    background-color: rgb(255, 255, 255);
    width: 24%;
    height: 360px;
    border-radius: 8px;
    box-shadow: 0px 6px 50px -10px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.fundo {

    background-color: rgb(241, 229, 229);

}


.botão {

    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 45px;
    padding-left: 45px;
    background: #4C6EF5;
    border: 1.5px solid #4C6EF5;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: small;
    text-align: center;

}

.img{
    max-width: 60%;


}


.imgdiv{

    height: 120px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

h2{

    color: rgb(7, 155, 155)

}

.teste,h2,a,h3{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&display=swap');